@import "./variables";

@mixin headerItemsFormat() {
    display: flex;
    height: 80px;
    color: $primaryColor;
}

@mixin gridFormat() {
    background-color: $thirdyColor;
    border-radius: 10px;
}